.blog-posts article {
}

.blog-posts h2 {
    margin-top: 0;
}

.blog-posts header p {
    color: #6c757d;
}

.blog-posts .author {
    font-weight: bold;
}

.blog-posts time {
    font-style: italic;
}
