@media screen and (max-width:600px){
        header nav {
            flex-direction: column;
        }
        .our-dogs ul li img {
            width: 200px;
            height: 200px;
        }
        .helpNeed ul {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        .header-title{
            padding: 0;
        }
}